body {
    background-color: beige ;
    font-family: verdana;
  }
  h1 {
    color: black;
  }
  a {
    color: blue;
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }